# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# TypeScript cache
*.tsbuildinfo

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Tailwind cache
.tailwindcache/
.vercel
